@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<b>test</b>
<h1>Naam in of dergelijke</h1>
<ul>
    <li>kleur 1</li>
    <li>kleur 2</li>
</ul>